header {
    background-color: rgb(5, 0, 0);
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

#searchBox {
    width: 300px;
}

#currentWeather {
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

#forecastDiv {
    padding: 12px;
} 

.noBorder {
    border: transparent;
    margin-right: 8px;
}

.hide {
    display: none;
}

.forecast {
    background-color: rgb(25, 25, 235);
    color: white;
    font-size: 15px;
    margin-right: 4px;
}

#searchCity {
    padding-top: 10px;
}

.favorable {
    background-color: rgb(164, 219, 80);
    width: 120px;
}

.moderate {
    background-color: rgb(219, 219, 92);
    width: 120px;
}

.severe {
    background-color: rgb(247, 16, 16);
    width: 120px;
}